:root {
    --cor1: #ad0303;
    --font1: Arial;
}

body {
    display: flex;
    font-family: var(--font1);
}

div {
    width: 100px;
    height: 100px;
    border: 3px solid var(--cor1);
}

@media (orientation: landscape) {
    body {
        flex-direction: row;
    }
}

@media (orientation: portrait) {
    body {
        flex-direction: column;
        
    }
}